<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projectflourish.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2e8d4cf4-bf0b-48ba-bd16-c06ef4dcbc52/resourcegroups/3sApiDevs/providers/Microsoft.Web/sites/ProjectFlourish</ResourceId>
    <UserName>$ProjectFlourish</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projectflourish.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>